<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg"
        style="background-image: url(/client/images/resources/site-footer-img.jpg); background-size: cover;">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="font-size: 50px; color: white;"><%= translation.umumiy_malumot  %></h1>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/"><%= translation.asosiy_sahifa  %></a></li>
                <li><span>/</span></li>
                <li><%= translation.umumiy_malumot  %></li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--About Four Start-->
<section class="about-four">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 ">
                <div class="about-four__right">
                    <p class="about-four__text">
                        <%= translation.biz_haqimizda  %>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>