<section class="news-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="news-details__left">
                    <div class="news-details__img-box">
                        <div class="news-details__img">
                            <img id="newsImage" src="" alt="">
                        </div>
                    </div>
                    <div class="news-details__content">
                        <h3 class="news-details__title-1 text-light" id="newsTitle"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/axios.min.js"></script>
<script src="/jquery.min.js"></script>
<script>


    const lang = window.localStorage.getItem("language");
    const notFound = `<h1>${lang == "ru" ? "Никакой информации не найдено" : "Hech qanday ma'lumot topilmadi"}</h1>`

    const getData = () => {
        const id = String(window.location.pathname).split("/")[3]
        axios.get(`/api/project/${id}`).then(async (res) => {
            const data = res.data.data;

            const newsImage = document.getElementById("newsImage")
            const newsTitle = document.getElementById("newsTitle")

            newsImage.src = `/uploads/${data.image[0]}`
            newsTitle.innerHTML = lang == "ru" ? data.name.ru : data.name.uz
        })
    }
    getData()
</script>