<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h3>Tashkiliy tuzilma bo'limi</h3>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="/admin/index">Asosiy sahifa</a></li>
                <li class="breadcrumb-item"><a href="/admin/organization-structure">Tashkiliy tuzilmalar bo'limi</a></li>
            </ol>
        </div>
    </div>
</div>
 

<button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
    data-target="#CREATE_MODAL">Yaratish</button>

<div class="col-md-12 row d-flex justify-content-start align-items-center mt-2" id="paginations"></div>

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="table-responsive text-center">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th style="font-size: 14px; width: 10%;">#</th>
                                <th style="font-size: 14px; width: 30%;">Rasm</th>
                                <th style="font-size: 14px;;">Yaratilgan</th>
                                <th style="font-size: 14px;;">Sozlama</th>
                            </tr>
                        </thead>
                        <tbody class="put_tables">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Ma'lumot yaratish uchun modal -->
<div class="modal fade" id="CREATE_MODAL" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Yaratish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label class="mt-1">Rasm yuklash</label>
                <input type="file" class="col-md-12" id="image">

                <button type="button" onclick="createData()" class="btn btn-success mt-3 col-md-12">Saqlash</button>
            </div>
        </div>
    </div>
</div>

<!-- Ma'lumot tahrirlash uchun modal -->
<div class="modal fade" id="EDIT_MODAL" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Tashkiliy tuzilmani tahrirlash</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body edit_data"> </div>
        </div>
    </div>
</div>



<script src="/axios.min.js"></script>
<script src="/jquery.min.js"></script>
<script src="/inputmask.js"></script>
<script src="/notification/message.js"></script>
<script>

    const headers = { headers: { Authorization: 'Bearer ' + window.localStorage.getItem("token") } }
    // Yaratish
    const createData = () => {
        const formData = new FormData()
        const image = document.getElementById('image').files[0]
        if (image === "" || !image) {
            danger("Barcha ma'lumotlarni kiriting")
        }
        else {
            formData.append("image", image)

            axios.post('/api/organization_structure/create', formData, headers)
                .then((res) => {
                    const status = res.data.status
                    if (status == false) {
                        warning("Tashkiliy tuzilma yaratilmadi")
                    }
                    else {
                        success("Tashkiliy tuzilma yaratildi")
                        allDatas()
                    }
                })
        }
    }

    // Hamma ma'lumotlarni olish
    const allDatas = () => {
        axios.get("/api/organization_structure/all").then(async (res) => {
            const DATA = res.data.data
            const put_table = $(".put_tables");
            await put_table.html("");
            if (DATA == "") {
                put_table.append(``)
            }
            else {
                DATA.forEach((item, index) => {
                    put_table.append(`
                        <tr>
                            <th>${index += 1}</th>
                            <td>
                                <img style="width: 70%"; src="/uploads/${item.image[0]}" /> 
                            </td>
                            <td>${new Date(item.createdAt).toLocaleDateString()}</td>
                            <td>
                                <i onclick="getFiles('${item._id}')" data-toggle="modal" data-target="#EDIT_MODAL" style="cursor: grab; font-size: 14px; margin-right: 10px;" class=" fas fa-image text-warning p-2 border border-1 border-warning rounded"></i>
                                <i onclick="deleteData('${item._id}')" style="cursor: grab;  font-size: 14px;" class="fas fa-trash-alt text-danger p-2 border border-1 border-danger rounded"></i>
                            </td>
                        </tr>
                    `);
                });
            }
        })
    }
    allDatas()

    // O'chirish
    const deleteData = (id) => {
        axios.delete(`/api/organization_structure/${id}`, headers).then((res) => {
            success("Ma'lumot o'chirildi")
            allDatas()
        })
    }


    // Matnli qismi tahrirlash
    const getFiles = (id) => {
        axios.get(`/api/organization_structure/${id}`, headers).then(async (res) => {
            const data = res.data.data
            const edit_data = $(".edit_data");
            await edit_data.html("");
            edit_data.append(`
                <img class="col-md-6 offset-3" src="/uploads/${data.image[0]}" />
                <hr style="border: 2px solid white;">
                <label class="mt-3">Tashkiliy tuzilma uchun rasm tanlang</label>
                <input type="file" class="col-md-12" id="image_upload">
                <button type="button" onclick="editFiles('${data._id}')" class="btn btn-success mt-3 col-md-12">Tahrirlash</button>
            `);
        })
    }
    const editFiles = (id) => {
        const formData = new FormData()
        const image = document.getElementById('image_upload').files[0]
        if (image == "" || !image) {
            danger("Barcha ma'lumotlarni kiriting")
        }
        else {
            formData.append("image", image)
            axios({
                method: 'PUT',
                url: `/api/organization_structure/${id}`,
                data: formData,
                headers: { Authorization: 'Bearer ' + window.localStorage.getItem("token") }
            }).then((res) => {
                success("Tashkiliy tuzilma tahrirlandi")
                getFiles(id)
                allDatas()
            })
        }
    }





</script>