<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h3>Asosiy sahifa</h3>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="/admin/index">Asosiy sahifa</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Foto lavhalar</h5>
                </div>
                <h3 class="mt-4" id="GALERY"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Yangiliklar</h5>
                </div>
                <h3 class="mt-4" id="NEWS"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Tashkiliy tuzilma</h5>
                </div>
                <h3 class="mt-4" id="ORGANIZATION_STRUCTURE"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-buffer bg-danger text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Loyiha</h5>
                </div>
                <h3 class="mt-4" id="PROJECT"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="row">

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Hududiy bo'linma</h5>
                </div>
                <h3 class="mt-4" id="REGIONAL_BORDER"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Rahbariyat xodimlari</h5>
                </div>
                <h3 class="mt-4" id="STAFF"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Vaksinatsiya</h5>
                </div>
                <h3 class="mt-4" id="VACTINATION"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-buffer bg-danger text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Video lavhalar</h5>
                </div>
                <h3 class="mt-4" id="VIDEO"></h3>
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

</div>




<script src="/axios.min.js"></script>
<script src="/jquery.min.js"></script>
<script src="/inputmask.js"></script>
<script src="/notification/message.js"></script>
<script>


    const headers = { headers: { Authorization: 'Bearer ' + window.localStorage.getItem("token") } }

    const getAll = () => {
        axios.get("/api/statistic/all", headers).then((res) => {
            const data = res.data;

            document.getElementById("GALERY").innerHTML = data.galery
            document.getElementById("NEWS").innerHTML = data.news
            document.getElementById("ORGANIZATION_STRUCTURE").innerHTML = data.organization
            document.getElementById("PROJECT").innerHTML = data.project
            document.getElementById("REGIONAL_BORDER").innerHTML = data.regional_border
            document.getElementById("STAFF").innerHTML = data.staff
            document.getElementById("VACTINATION").innerHTML = data.vactination
            document.getElementById("VIDEO").innerHTML = data.video

        })
    }
    getAll()


</script>